body {
  box-sizing: border-box;
  margin: 0;
  font-size: 18px;
  line-height: 20px;
  font-family: Roboto, serif;
}

.button {
  cursor: pointer;
  border: none;
}
.button:hover, .button:focus {
  outline: 2px solid black;
}
.button:active {
  transition: 0.1s;
  outline: 4px solid black;
}
.button:disabled {
  opacity: 0.5;
  outline: none;
}

.wrapper {
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-auto-rows: 100vh;
  max-height: 100vh;
}

/* Table */
.info-table {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0 10px;
  background-color: whitesmoke;
  border-spacing: 5px;
  border-radius: 20px;
}

.info-table__columns {
  min-width: 20%;
  /* firefox */
  width: 20%;
  /* safari, chrome, edge */
}

.column {
  min-width: 20%;
  /* firefox */
  width: 20%;
  /* safari, chrome, edge */
}

.column-about {
  min-width: 40%;
  /* firefox */
  width: 40%;
  /* safari, chrome, edge */
}

/* Table head */
.info-table__header {
  min-height: 8%;
  height: 8vh;
  padding: 5px;
  transition: 0.3s;
  position: relative;
}

.header__text {
  margin: 0;
}

.header__sort {
  position: absolute;
  top: 5px;
  left: 10px;
}

.header__hider {
  position: absolute;
  top: 5px;
  right: 10px;
}

.sort {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background: url("../../Img/sort.svg") no-repeat center;
  background-size: 35px 35px;
}

.hider {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background: url("../../Img/unhide.svg") center/20px 20px no-repeat;
}

/* /Table head */
/* Table body */
.info-table__cell {
  cursor: pointer;
  padding: 10px;
  transition: 0.3s;
  background-color: lavender;
  border-radius: 20px;
  overflow: hidden;
}
.info-table__cell:focus, .info-table__cell:hover {
  outline: 4px solid black;
  transition: background-color 0.2s, outline 0.1s;
}
.info-table__cell:active {
  outline: 6px solid black;
  background-color: bisque;
}

.about {
  display: flex;
  font-size: inherit;
  line-height: inherit;
  text-align: justify;
}

.about__text {
  margin: 0;
  width: 300px;
  height: 40px;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
}

.about__ellipsis {
  margin: 0;
  padding-top: 20px;
  flex: 0 0 auto;
}

/* /Table body */
/* Table foot */
.info-table__foot-cell {
  padding: 5px;
  transition: 0.3s;
}

.page-controllers {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.page-controllers__back {
  width: 30px;
  height: 30px;
  margin-right: 5%;
  border-radius: 50px;
  background: url("../../Img/stick-left.svg") no-repeat center;
}

.page-controllers__forward {
  width: 30px;
  height: 30px;
  margin-left: 5%;
  border-radius: 50px;
  background: url("../../Img/stick-right.svg") no-repeat center;
}

/* /Table foot */
/* Table Modifiers  */
@keyframes hide {
  from {
    min-width: inherit;
    width: inherit;
    opacity: 1;
  }
  to {
    min-width: 10%;
    width: 10%;
    opacity: 0;
  }
}
@keyframes unHide {
  from {
    min-width: 10%;
    width: 10%;
    opacity: 0;
  }
  to {
    min-width: 20%;
    width: 20%;
    opacity: 1;
  }
}
@keyframes hide-about {
  from {
    min-width: 40%;
    width: 40%;
    opacity: 1;
  }
  to {
    min-width: 10%;
    width: 10%;
    opacity: 0;
  }
}
@keyframes unHide-about {
  from {
    min-width: 10%;
    width: 10%;
    opacity: 0;
  }
  to {
    min-width: 40%;
    width: 40%;
    opacity: 1;
  }
}
.minimize-column {
  animation: hide 0.3s ease-out forwards;
}

.minimize-column-about {
  animation: hide-about 0.3s ease-out forwards;
}

.maximize-column {
  animation: unHide 0.3s ease-out forwards;
}

.maximize-column-about {
  animation: unHide-about 0.3s ease-out forwards;
}

.selected {
  transition: 0.1s;
  background-color: wheat;
  outline: 4px solid black;
}

.active {
  outline: 6px solid black;
  background-color: bisque;
}

.blurred {
  opacity: 0.5;
}

.hided-column {
  opacity: 0;
  transition: 0.3s;
}

.hided-column-about {
  width: 0;
}

.about-blurred {
  display: flex;
  padding: 0 5px;
  font-size: inherit;
  height: 40px;
  justify-content: center;
  text-align: center;
}

.about__text-blurred {
  margin: 0;
  line-height: 40px;
  overflow: hidden;
}

/* /Table Modifiers  */
/* /Table */
/* Left side */
.left-side {
  width: 100%;
  height: 100%;
  font-size: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-side__body {
  position: relative;
  background-color: lavender;
  border-radius: 20px;
  min-width: 50%;
  max-width: 90%;
  max-height: 90%;
  padding: 30px;
}

.bait {
  margin: 0;
  cursor: pointer;
  border-radius: 5px;
}
.bait:focus {
  outline: 4px solid black;
}

/* Form */
.form {
  display: none;
}

.form__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Form input */
.form__input {
  display: none;
  width: 100%;
}

.input__label {
  font-size: 25px;
  display: block;
  width: 100%;
  text-align: left;
}

.input {
  display: block;
  width: 100%;
  font-size: 20px;
  text-align: center;
  margin: 5% 0;
  line-height: 50px;
  border: none;
  border-radius: 30px;
}

/* /Form input */
/* Form textarea */
.form__textarea {
  display: none;
  width: 100%;
}

.textarea__label {
  display: block;
  font-size: 25px;
  width: 100%;
  text-align: left;
}

.textarea__body {
  background-color: white;
  border-radius: 20px;
  margin: 5% 0;
  padding: 20px;
}

.textarea {
  border: none;
  font-size: 20px;
  width: 100%;
  min-height: auto;
  resize: none;
  outline: none;
  font-family: inherit;
  /* firefox */
  scrollbar-width: thin;
  scrollbar-color: lavender white;
  /* safari, chrome, edge */
}
.textarea::-webkit-scrollbar {
  width: 10px;
}
.textarea::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: lavender;
}

/* /Form textarea */
/* Form buttons */
.apply {
  width: 100%;
  font-size: 20px;
  border-radius: 20px;
  padding: 10px 15px;
  background-color: whitesmoke;
  transition: 0.1s;
}

.cancel {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 20px;
  border-radius: 30px;
  padding: 10px 15px;
  background-color: whitesmoke;
  transition: 0.1s;
}

/* /Form buttons */
/* Form Modifiers */
.visible {
  display: block;
}

.hided {
  display: none;
}

/* /Form Modifiers */
/* /Form */
/* /Left side */

/*# sourceMappingURL=main.css.map */
